langchain
python-dotenv
langchain_community
langchain_core
langchain_huggingface
langchain_groq
langchain_text_splitters
pypdf
pathlib
flask
fastapi
uvicorn
pinecone-client
pinecone
pinecone-text
pdfplumber
ocrmypdf
more_itertools
hf_xet
sentence_transformers